@model IEnumerable<Post>

@{
    ViewData["Title"] = "Home Page | ";
}

<div class="text-center">
    <h1 class="display-4 font-weight-bold">Wall</h1>
    @if (User.Identity.IsAuthenticated)
    {
        <form method="post" asp-controller="Home" asp-action="CreationPage">
            <div class="row align-items-start">
                <div class="row">
                    <div class="col-auto"><button class="btn btn-dark mx-1">Create Post</button></div>
                </div>
            </div>
        </form>
    }
    <form method="post" asp-controller="Home" asp-action="TakeAnswer">
        @if (Model != null)
        {
            @foreach (var post in Model)
            {

                <div class="card my-3">
                    <h5 class="card-header font-weight-bold">
                        @Html.DisplayFor(model => post.PostName)
                    </h5>
                    <div class="card-body">
                        <p class="card-text">@Html.DisplayFor(model => post.PostContent)</p>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="form-group">
                                <label asp-for="@post.CheckAnswer">Your answer to this problem</label><br />
                                <input type="text" asp-for="@post.CheckAnswer" />
                            </div>
                        }

                    </div>
                </div>
            }
        }
    </form>
</div>
